{% extends 'base.html' %}
{% load static %}
{% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Author profile</title>
    <link rel="stylesheet" href="{% static 'css/desktop.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
        <div class="container"></div>
            <div class="author__bg" style="background-image: url({% static 'img/author__bg.svg' %});">
                <h1 class="author__name">{{ author }}</h1>
            </div>
          <div class="author__status">
            <div class="author__circle"></div>
            <div class="author__status-title">
              <div class="author__status-texts">
                <p class="author__status-text">Произведения</p>
                <span class="author__status-quantity">{{ verse_count.all.count }}</span>
              </div>
              <div class="author__status-texts">
                <p class="author__status-text">
                  получено <br />
                  рецензий
                </p>
                <span class="author__status-quantity">81 562</span>
              </div>
              <div class="author__status-texts">
                <p class="author__status-text">читатели</p>
                <span class="author__status-quantity">{{ readers_count }}</span>
              </div>
            </div>
            <button class="author__status-btn" onclick="toggle()">Читать</button>
          </div>
    </header>
    <section class="reviews container">
      <div class="reviews__title">коментарии</div>
      <div class="reviews__all">
        <div class="reviews__blocks">
          <div class="reviews__block">
              {% for comments in comments_list %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="reviews__box">
                      <div class="reviews__texts">
                        <p class="reviews__box-offers">{{ comments.content }}
                        </p>
                        <span class="reviews__box-author">{{ comment.author }}</span>
                      </div>
                    </div>
                {% else %}
                      <div class="reviews__box-brown">
                        <div class="reviews__texts">
                          <p class="reviews__box-offers">{{ comments.content }}
                          </p>
                          <span class="reviews__box-author">{{ comment.author }}</span>
                        </div>
                      </div>
              {% endif %}
          {% endfor %}

          </div>
        </div>
        <div class="reviews__symbol">
            <div class="reviews__arrows">
                {% if page_obj.has_previous %}
                <div class="reviews__arrows-left">
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <img class="arrow" src="{% static '/img/arrow.png' %}" alt="Солго">
                    </a>
                </div>
                {% else %}
                <div class="reviews__arrows-left disabled">
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <img class="arrow" src="{% static '/img/arrow.png' %}" alt="Солго">
                    </a>
                </div>
                {% endif %}
                {% if page_obj.has_next %}
                <div class="reviews__arrows-right">
                    <a href="?page={{ page_obj.next_page_number }}">
                        <img class="arrow arrow__right" src="{% static '/img/arrow.png' %}" alt="Оңго">
                    </a>
                </div>
                {% else %}
                <a href="">
                        <img class="arrow arrow__right" src="{% static '/img/arrow.png' %}" alt="Оңго">
                </a>
            </div>
        {% endif %}

            <div class="reviews__circles">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <div class="reviews__circle"></div>
                    </a>
                {% else %}
                {% endif %}
                <a href=""><div class="reviews__circle-big active"></div>
                {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">
                            <div class="reviews__circle"></div>
                        </a>
                    {% else %}
                {% endif %}
            </div>
        </div>
      </div>
    </section>

  </body>
</html>
{% endblock %}
{% block js %}
    <script>
        const authorDetailUrl = '{% url "author_detail" author.pk %}';
        const authorId = '{{ author.id }}';
    </script>
    <script src="{% static 'js/author_profile_list.js' %}"></script>
{% endblock %}