{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--    <link rel="stylesheet" href="{% static 'css/visitor.css' %}" />-->
  <html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Author profile</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Underdog&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

      <div class="container"></div>
      <div class="author__bg">
        <div class="author__bg-all">
            <img src="{% static 'img/moun.jpg' %}" alt="">
        </div>

        <h1 class="author__name">{{ author }}</h1>
        <button class="author__btn-name">Читать</button>
      </div>
      </div>
      <div class="author__status">
        <div class="author__circle"></div>
        <div class="author__status-title">
          <div class="author__status-texts">
            <p class="author__status-text">Произведения</p>
            <span class="author__status-quantity">{{ verse_count.all.count }}</span>
          </div>
          <div class="author__status-texts">
            <p class="author__status-text">
              лайки
            </p>
            <span class="author__status-quantity">{{ like_count.all.count }}</span>
          </div>
          <div class="author__status-texts">
            <p class="author__status-text">читатели</p>
            <span class="author__status-quantity">{{ readers_count.all.count }}</span>
          </div>
        </div>
        <button class="author__status-btn" onclick="toggle()">Читать</button>
      </div>
    </header>
    <section class="creation container">
      <h1 class="creation__h1">произведения</h1>
      <div class="creation__serch">
        <input placeholder="Поиск" type="text" class="creation__inp" />
        <span class="creation__serch-badge">
          <img class="search__badge" src="{% static 'img/search__icon.png' %}" alt="search__badge" />
        </span>
      </div>
    <div class="creations__title">
      <div class="creation__strings">
        <div class="creation__string-names">
          <p class="creation__string-title">Название произведения</p>
          <p class="creation__name-data">Жанр и дата публикации</p>
          <p class="creation__string-name">Саякбай каралаев</p>
        </div>
          {% for verse in detail_author_verses %}
            {% if forloop.counter|divisibleby:2 %}
                <a href="{% url 'verse_detail_view' pk=verse.pk %}">
                <div class="creation__string-grey">{{ verse.name }} {{ verse.category }} {{ verse.pubdate }} {{ verse.author}}</div>
                </a>
          {% else %}
                <a href="{% url 'verse_detail_view' pk=verse.pk %}">
                <div class="creation__string-white">{{ verse.name }} {{ verse.category }} {{ verse.pubdate }} {{ verse.author}}</div>
                </a>
            {% endif %}
            {% endfor %}
      </div>
      <div class="crearions__arrows">
        <div class="creation__arrow">
            {% if page_obj.has_previous %}
              <div class="creation__left">
                <a href="?page={{ page_obj.previous_page_number }}">
                    <img src="{% static 'img/arrow.png' %}" alt="left" class="arrow" />
                </a>
              </div>
            {% else %}
            <div class="creation__left disabled">
                <a href="">
                    <img src="{% static 'img/arrow.png' %}" alt="left" class="arrow" />
                </a>
              </div>
            {% endif %}
            {% if page_obj.has_next %}
              <div class="creation__rigth">
                 <a href="?page={{ page_obj.next_page_number }}"><img
                  src="{% static 'img/arrow.png' %}"
                  alt="right"
                  class="arrow arrow__right"
                /></a>
              </div>
            {% else %}
                <div class="creation__rigth disabled">
                         <a href=""><img
                          src="{% static 'img/arrow.png' %}"
                          alt="right"
                          class="arrow arrow__right"
                        /></a>
                      </div>
            {% endif %}

        </div>
        <div class="creation__circles">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">
                <div class="creation__circle"></div>
            </a>
            {% else %}
            {% endif %}
            <a href="">
                <div class="creation__circle-big">
                </div>{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <div class="creation__circle"></div>
            </a>
        {% else %}

        {% endif %}

        </div>
      </div>
    </div>
  </section>

  </body>



{% endblock %}
{% block js %}
    <script>
        const authorDetailUrl = '{% url "author_detail" author.pk %}';
        const authorId = '{{ author.id }}';
    </script>
    <script src="{% static 'js/author_profile_list.js' %}"></script>
{% endblock %}