{% load static %}
{% block content %}
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Underdog&display=swap" rel="stylesheet">
{#    <link rel="stylesheet" href="{% static 'css/pagework.css' %}" />#}
{#    <link rel="stylesheet" href="{% static 'css/main.css' %}" />#}
    <link rel="stylesheet" href="{% static 'css/authordashboard.css' %}" />

  </head>
  <body>
    <header class="header">
        <header class="header">
            <nav class="nav">
              <div class="container">
                <div class="items">
                  <div class="logo__img">
                      <a href="{% url 'index_page' %}"><img class="logo__img-main" href="" src="{% static 'img/logo.svg' %}" alt="logo"></a>
                  </div>
                  <a href="{% url 'index_page' %}" class="link">Главная</a>
                  <a href="{% url 'author_list' %}" class="link">Авторы</a>
                  <a href="{% url 'all_verses_list' %}" class="link">Произведения</a>
                  <a href="" class="link">Новости</a>

                  {% if user.is_authenticated %}
                      <a href="{% url 'control_panel' %}">{{ user.login }}</a>
                  <a class="signup" href="{% url 'logout' %}">Выход ></a>
                  <a class="checkin" href="{% url 'control_panel' %} ">Личный кабинет> </a>
                  {% else %}
                  <a class="signup" href="{% url 'login' %}">Вход ></a>
                  <a class="checkin" href="{% url 'register' %}">Регистрация ></a>
                  {% endif %}
                  </div>
                  <!-- Burger Menu -->
                </div>
                  </div>
            </nav>
          </header>
    </header>

    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />

  </head>
  <body>

<div id="bg-avatar" class="header__bg-photo">
        <div class="container">
          <div class="items__user">
            <div class="items__texts">
              <p class="items__text">
                Загрузите фоновое <br />
                изображение
              </p>
              <input type="file" name="file" id="input__filed" class="input input__file-bg">
                <label for="input__filed">
                <span class="input__file-button-text">Выбрать</span>
                </label>
            </div>
            <div class="inp-bg-btn inp-circle-file">
              <input type="file" name="file" id="input__filed" class="input input__file">
              <label for="input__filed">
                <span class="inp-avatar input__file-button-text">
                   <img class="btn__photo" src="{% static 'img/photo-user.svg' %}" alt="Choose photo">
                </span>
              </label>
            </div>
            <div class="items__name">
              <span class="item__name">{{ user.first_name }} {{ user.last_name }}</span>
            </div>
          </div>
          <div id="avatar" class="items__circle">
            <div class="inp-circle-file">
                <input type="file" name="file" id="input__file" class="input input__file">
                <label for="input__file">
                  <span class="inp-avatar input__file-button-text">
                     <img class="btn__photo" src="{% static 'img/photo-user.svg' %}" alt="Choose photo">
                  </span>
                </label>
              </div>
            <div class="items__user">
              <div class="items__texts user__photo">
                <p class="items__text items__ucer-text">
                  Загрузите изображение
                </p>
                <input type="file" name="file" id="input__file" class="input-12 input__file">
                <label for="input__file">
                <span class="input__file-button-text">Выбрать</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="statistics">
        <div class="container">
          <div class="statistics__user">
            <div class="statistic">
              <p class="statistic__text-num">Произведения</p>
              <span class="statistic__text-num">{{ verse_count.all.count }}</span>
            </div>
            <div class="statistic">
              <p class="statistic__text-num">Лайки</p>
              <span class="statistic__text-num">{{ likes_count }}</span>
            </div>
            <div class="statistic">
              <p class="statistic__text-num">читатели</p>
              <span class="statistic__text-num">{{ profile_readers.all.count }}</span>
            </div>
          </div>
        </div>
      </div>

    <section class="section__creation">
      <div class="container">
        <div class="creation__texts">
          <h1 class="creation__text">мои произведения</h1>
        </div>
        <div class="creation__inputs">
          <input class="creation__input" id="search_input_id" placeholder="Поиск" type="text" />
          <div class="creation__search-icon">
            <img src="{% static '/img/search__icon.png' %}" alt="">
          </div>
        </div>

        <div class="creation__blocks">

          <div class="creation__title">
            <div class="creation__title-top">
              <p class="creation__top-big">Название произведения</p>
              <p class="creation__top-text">Жанр и дата публикации</p>
              <span class="creation__top-span">{{ user.first_name }} {{ user.last_name }}</span>
            </div>
          <div id="search_input_block_id">
              {% for verse in verses %}
              {% if forloop.counter|divisibleby:2 %}
                  <a href="{% url 'verse_detail_view' pk=verse.pk %}">
                      <div class="creation__title-grey" href="{% url 'verse_detail_view' pk=verse.id %}">{{ verse.name }} {{ verse.category }} {{ verse.pubdate }} {{ verse.author }}</div>
                  </a>
              {% else %}
                  <a href="{% url 'verse_detail_view' pk=verse.pk %}">
                      <div class="creation__title-white" href="{% url 'verse_detail_view' pk=verse.id %}">{{ verse.name }} {{ verse.category }} {{ verse.pubdate }} {{ verse.author }}</div>
                  </a>
              {% endif %}
            {% endfor %}
          </div>
          </div>
          <div class="reviews__symbol">
            <div class="reviews__arrows">
                {% if page_obj.has_previous %}
              <div class="reviews__arrows-left">
                  <a href="?page={{ page_obj.previous_page_number }}"><img class="arrow" src="{% static '/img/arrow.png' %}" alt="Солго" /></a>
              </div>
                {% else %}
                <div class="reviews__arrows-left disabled">
                  <a href=""><img class="arrow" src="{% static '/img/arrow.png' %}" alt="Солго" /></a>
              </div>
            {% endif %}

            {% if page_obj.has_next %}
              <div class="reviews__arrows-right">
                  <a href="?page={{ page_obj.next_page_number }}"><img
                  class="arrow arrow__right"
                  src="{% static '/img/arrow.png' %}"
                  alt="Оңго"
                /></a>
              </div>
            {% else %}
            <div class="reviews__arrows-right disabled">
                  <a href=""><img
                  class="arrow arrow__right"
                  src="{% static '/img/arrow.png' %}"
                  alt="Оңго"
                /></a>
            </div>
            {% endif %}



            <div class="reviews__circles">
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">
                  <div class="reviews__circle"></div>
              </a>
                {% else %}

                {% endif %}
          <a href="">
              <div class="reviews__circle-big active"></div>{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a>
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"><div class="reviews__circle"></div></a>
          {% else %}

          {% endif %}

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section__publish">


      <div class="container">
        <div class="publish__texts">
          <h2 class="publish__text">Опубликовать произведение</h2>
        </div>
        <div class="publish__blocks">
          <div class="publish__block-works">
            <span class="block-works-text">Произведение</span>
            <input type="text" id="content_input_id" {{ verse.content }} class="block-works">
          </div>
          <div class="publish__block-illust">
            <span class="block-works-text">ИЛЛЮСТРАЦИЯ</span>
            <div class="block-illust">
              <div class="items__texts block__items-texts">
              <p class="items__text items__ucer-text">
                Загрузите изображение
              </p>
              <input type="file" name="file" id="input__file-com" class="input input__file-com">
                <label for="input__file-com">
                <span class="input__file-button-text">Выбрать</span>
                </label>
            </div>
            </div>
            <span class="block-bottom-text">Название</span>
              <input class="block-description-input" id="name_input_id" {{ verse.name }} type="text">
          </div>
          <div class="publish__block-description">
            <span class="block-description-text">описание</span>
            <input class="block-description-input" id="description_input_id" {{ verse.decription }} type="text">
            <span class="block-description-text">хештеги</span>
            <input class="block-bottom-input" id="tags_input_id" {{ verse.tags }} type="text">
            <span class="block-description-text">жанр</span>


            <select class="block-description-select" onchange="showOptions(this)" id="block-description-select-id"  name="">
                {% for category in category_list %}
                <option id="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>


            <button class="block-description-btn" id="verse_btn_id">опубликовать</button>
              <p id="verse_error_id" style="color: red; font-size: 13px; margin-left: 10px; display: none">Введите не заполненные поля</p>
          </div>
        </div>
      </div>
    </section>

      </body>
    <footer class="footer">
        <div class="container">
            <div class="footer__links">
                <div class="footer__link">
                    <a href="#" class="footer__link-a">Авторы</a>
                    <a href="#" class="footer__link-a">Популярные авторы</a>
                    <a href="#" class="footer__link-a">Все авторы</a>
                    <a href="#" class="footer__link-a">Стать автором</a>
                </div>
                <div class="footer__link">
                    <a href="#" class="footer__link-a">Произведения</a>
                    <a href="#" class="footer__link-a">Популярные произведения </a>
                    <a href="#" class="footer__link-a">Все произведения </a>
                    <a href="#" class="footer__link-a">Поделиться произведением</a>
                </div>
                <div class="footer__link">
                    <a href="#" class="footer__link-a">Новости</a>
                    <a href="#" class="footer__link-a">Статистика</a>
                    <a href="#" class="footer__link-a">Выбор редакции</a>
                    <a href="#" class="footer__link-a">История кыргызкой литературы</a>
                </div>
                <div class="footer__link">
                    <a href="#" class="footer__link-a">О нас</a>
                    <a href="#" class="footer__link-a">Войти</a>
                    <a href="#" class="footer__link-a">Зарегистрироваться</a>
                </div>
            </div>
            <div class="socials">
                <a href="{% url 'politics' %}"><span class="social__link">Политика конфиденциальности</span></a>
                <div class="social__icons">
                    <a href="" class="social__link">Социальные сети</a>
                    <div class="cocial__icon">
                        <img class="social__icon-img" src="{% static 'img/instagram.png' %}" alt="Instagram">
                        <img class="social__icon-img" src="{% static 'img/twitter.png' %}" alt="Twitter">
                        <img class="social__icon-img" src="{% static 'img/youtube.png' %}" alt="YouTube">
                </div>
            </div>
        </div>
   </footer>


    {% endblock %}

<script>
    const verseCreateUrl = '{% url "control_panel" %}';
    const AuthorId = {{ author_id }};
    const verseSearchUrl = '{% url "search_list" %}';
</script>

<script src="{% static 'js/control_panel.js' %}"></script>
<script src="{% static 'js/search_input.js' %}"></script>
{#<script src="{% static 'js/burger.js' %}"></script>#}
<script src="{% static 'js/file.js' %}"></script>

 <script>
        function getCookie(name) {
            let cookieValue = null;

            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                console.log(cookies);
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }

            return cookieValue;
        };


    </script>