{% extends 'base.html' %}
{% load static %}
{% block content %}
</div>
    <header class="">
        <img class="header_bg" src="{% static 'img/header_bg.png' %}" alt="" />
        <div class="main_header">ЧЫГАРМА</div>
        <div class="main_text">
            Кыргызский литературный портал, предоставляющий авторам возможность свободной публикации произведений
        </div>
        <div class="main_language">Кыргызча/Русский</div>
    </header>
    <section class="popular_composition container">
        <div class="blocks">
            <div class="block">
                <div class="about_composition">
                    <div class="heading_composition">Название произведения</div>
                    <div class="data_composition">Жанр и дата публикации</div>
                </div>
                <div class="author">Автор</div>
            </div>
            <div class="block">
                <div class="about_composition">
                    <div class="heading_composition"></div>
                    <div class="data_composition"></div>
                </div>
                <div class="author"></div>
            </div>
            <div class="block">
                <div class="about_composition">
                    <div class="heading_composition"></div>
                    <div class="data_composition"></div>
                </div>
                <div class="author"></div>
            </div>
            <div class="block">
                <div class="about_composition">
                    <div class="heading_composition"></div>
                    <div class="data_composition"></div>
                </div>
                <div class="author"></div>
            </div>
            <div class="block">
                <div class="about_composition">
                    <div class="heading_composition"></div>
                    <div class="data_composition"></div>
                </div>
                <div class="author"></div>
            </div>
            <div class="block">
                <div class="about_composition">
                    <div class="heading_composition"></div>
                    <div class="data_composition"></div>
                </div>
                <div class="author"></div>
            </div>
        </div>
        <div class="texts_composition">
            <div class="composition_head">Популярные произведения</div>
            <div class="composition_text">
                Произведения, которые чаще всего оценивали и писали рецензии
            </div>
            <img src="{% static 'img/atnic_picture.svg' %}" alt="" class="atnic_picture">
            <a class="watch_composition" href="{% url 'all_verses_list' %}">Смотреть все произведения</a>
        </div>
    </section>




   <section class="redaction container">
        <div class="composition_head">Выбор редакции</div>
        <div class="redaction_text">Высоко оценненные работы авторов</div>
        <div class="columns_redaction">
            <div class="redaction_nav_column">
                <img src="{% static 'img/atnic_picture.svg' %}" alt="" class="atnic_picture_redaction">
                <a class="all_composition" href="{% url 'all_verses_list' %}">Все произведения</a>
                <img src="{% static 'img/atnic_picture.svg' %}" alt="" class="atnic_picture_redaction">
            </div>
            <div class="mini_blocks">
                <div class="mini_block light_block">
                    <img src="{% static 'img/crown.svg' %}" alt="" class="crown">
                    <div class="mini_block_heading">Название произведения</div>
                    <div class="mini_block_author">автор</div>
                    <div class="mini_block_type">Жанр</div>
                </div>

                {% for verse in verse_list %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="mini_block light_block">
                        <img src="{% static 'img/crown.svg' %}" alt="" class="crown">
                        <a href="{% url 'verse_detail_view' pk=verse.pk %}">
                           <div class="mini_block_heading">{{ verse.name }}</div>
                        </a>

                        <a href="{% url 'author_detail' pk=verse.author.id %}">
                            <div class="mini_block_author">{{ verse.author }}</div>
                        </a>
                        <div class="mini_block_type">{{ verse.category }}</div>

                    </div>

                    {% else %}
                    <div class="mini_block">
                        <img src="{% static 'img/crown.svg' %}" alt="" class="crown">
                           <a href="{% url 'verse_detail_view' pk=verse.pk %}">
                               <div class="mini_block_heading" >{{ verse.name }}</div>
                           </a>
                        <a href="{% url 'author_detail' pk=verse.author.id %}">
                            <div class="mini_block_author">{{ verse.author }}</div>
                          </a>
                        <div class="mini_block_type">{{ verse.category }}</div>

                    </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </section>

    <section class="popular_authors container">
        <div class="authors_heading">Популярные авторы</div>
        <div class="authors_text">Авторы набравшие наибольшее количество оценок и рецензий</div>
        <div class="columns_authors">
        <div class="columns">
            {% for author in author_banner %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="column">
                        <img src="{% static 'img/ava.svg' %}" alt="" class="column_avatar">
                        <div class="name_author">{{ author }}</div>
                        <div class="readers">Количество читателей</div>
                        <div class="comments">Комментариев</div>
                        <div class="types">Жанры</div>
                        <a href="{% url 'author_detail' author.pk %}">
                            <button class="profile_btn" >Смотреть профиль</button>
                        </a>
                    </div>
                {% else %}
                    <div class="column dark_column">
                        <img src="{% static 'img/ava.svg' %}" alt="" class="column_avatar">
                        <div class="name_author">{{ author }}</div>
                        <div class="readers">readers</div>
                        <div class="comments">comments</div>
                        <div class="types">types</div>
                        <a href="{% url 'author_detail' author.pk %}">
                            <button class="profile_btn light_profile_btn">Смотреть профиль</button>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="authors_nav_column">
                <img src="{% static 'img/atnic_picture.svg' %}" alt="" class="atnic_picture_author">
                <a class="all_composition" href="{% url 'author_list' %}">Все авторы</a>
                <img src="{% static 'img/atnic_picture.svg' %}" alt="" class="atnic_picture_author">
            </div>
    </section>
    <section class="statistics_news container">
        <div class="statistic">
            <div class="statistic_heading">Статистика</div>
            <div class="publicated_compositions">Количество опубликованных произведений</div>
            <div class="publicated_compositions-number">{{ verse_count.all.count }}</div>
            <div class="amount_authors">Количество авторов</div>
            <div class="amount_authors-number">{{ author_count.all.count }}</div>
        </div>
        <div class="news">
            <div class="news_heading">Новости и события</div>
            <div class="gray_blocks ">
                {% for news in news %}
                <div class="gray_block ">
                    <div class="illustration">
                         <img src="{{ news.picture.url }}" alt="">
                    </div>
                </div>
                <div class="gray_block white_block">
                    <div class="title">{{ news.title }}</div>
                    <div class="text">{{ news.content }}</div>
                </div>
                {% endfor %}


            </div>
        </div>
    </section>
    <section class="history container">
        <div class="column1">
            <div class="statistic_heading">История кыргызкой литературы</div>
            <div class="history_text">До возникновения киргизской письменности литература киргизов развивалась в форме устного творчества. Существовала традиция устной киргизской народной поэзии, начиная от лирики и заканчивая эпосом. Из киргизских поэтических произведений известны
                пастушеские («Бекбекей») и любовно-лирические песни («Секетбай», «Кюйгон»), кошок (плачи), пословицы и поговорки, сказки, эпосы («Курманбек», «Кедейхан», «Кожожаш», «Сарынжи-Бокей», «Олджобай и Кишимджан», «Эр-Тештюк», «Жаныл Мырза») и
                другие[1].
            </div>
        </div>
        <div class="column2">
            <img src="{% static 'img/atnic_picture.svg' %}" alt="" class="column2_atnick">
            <div class="history_text">До возникновения киргизской письменности литература киргизов развивалась в форме устного творчества. Существовала традиция устной киргизской народной поэзии, начиная от лирики и заканчивая эпосом. Из киргизских поэтических произведений известны
                пастушеские («Бекбекей») и любовно-лирические песни («Секетбай», «Кюйгон»), кошок (плачи), пословицы и поговорки, сказки, эпосы («Курманбек», «Кедейхан», «Кожожаш», «Сарынжи-Бокей», «Олджобай и Кишимджан», «Эр-Тештюк», «Жаныл Мырза») и
                другие[1].
            </div>
        </div>
    </section>

    {% endblock %}