{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/works.css' %}" />
  </head>
  <body>
    <header class="header">

      <div class="bg__author" style="background-image:  url({% static 'img/works__bg.svg' %});">
        <span class="author__text-title">Произведения</span>
      </div>
    </header>
    <section class="section">
      <div class="container">
        <div class="works">
          <h1 class="works__title">Популярные произведения</h1>
          <div class="works__blocks">
            <div class="works__block-top">
              <div class="works__block-main">
                <div class="block__main-texts">
                  <span class="block__main-text">Название произведения</span>
                  <span class="block__main-large">Жанр и дата публикации</span>
                </div>
                <span class="block__main-textcenter"
                  >Иллюстрация на фоне затемненная</span
                >
                <span class="block__main-textend">Автор</span>
              </div>
              {% for verses in popular_verses_list %}
                {% if forloop.counter|divisibleby:2 %}
                     <div class="works__block-white">
                         {{ verses.name }}{{ verses.category }}{{ verses.name }}{{ verses.pubdate }}
                     </div>
                {% else %}
                    <div class="works__block-grey">
                        {{ verses.name }}{{ verses.category }}{{ verses.name }}{{ verses.pubdate }}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="all">
          <h2 class="all__title">все произведения</h2>
          <div class="all__search">
            <input placeholder="Поиск" id="verse_search_input_id" type="text" class="all__input" />
            <div class="all__search-icon">
              <img src="{% static 'img/search__icon.png' %}" alt="" class="search-icon" />
            </div>
          </div>
          <div class="all__content">
            <div class="all__blocks">
              <div class="all__block">
                <p class="all__block-text">Автор</p>
                <p class="all__block-p">Жанр и дата публикации</p>
                <span class="all__block-name">Саякбай каралаев</span>
              </div>
                <div id="verse_search_input_block_id">
                    {% for verses in page_obj %}
                        {% if forloop.counter|divisibleby:2 %}
                            <a href="{% url 'verse_detail_view' pk=verses.pk %}">
                                <div class="all__block-grey">{{ verses.name }} {{ verses.pubdate }} {{ verses.author }}</div>
                            </a>
                        {% else %}
                            <a href="{% url 'verse_detail_view' pk=verses.pk %}">
                                <div class="all__block-white">{{ verses.name }} {{ verses.pubdate }} {{ verses.author }}</div>
                            </a>
                        {% endif %}
                    {% endfor %}
                    </div>

            </div>
            <div class="all__symblos">
              <div class="all__symbols-arrows">
              {% if page_obj.has_previous %}
                <div class="all-arrow">
                  <a href="?page={{ page_obj.previous_page_number }}">
                      <img class="arrow" src="{% static 'img/arrow.png' %}" alt="" /></a>
                </div>
                  {% else %}
                   <div class="all-arrow disabled">
                  <a href="">
                      <img class="arrow" src="{% static 'img/arrow.png' %}" alt="" /></a>
                </div>
                  {% endif %}

              {% if page_obj.has_next %}
                <div class="all-arrow">
                    <a href="?page={{ page_obj.next_page_number }}"><img
                    class="arrow arrow__deg"
                    src="{% static 'img/arrow.png' %}"
                    alt=""
                  /></a>
                </div>
              {% else %}
              <div class="all-arrow disabled">
                    <a href=""><img
                    class="arrow arrow__deg"
                    src="{% static 'img/arrow.png' %}"
                    alt=""
                  /></a>
                </div>
              {% endif %}
              </div>

              <div class="popular__circles">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">
                    <div class="popular__circle"></div>
                </a>
              {% else %}
                <a href="">
                    <div class="popular__circle disabled"></div>
                </a>
              {% endif %}
                  <a href="">
                      <div class="popular__circle-big active">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</div>
                  </a>
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">
                    <div class="popular__circle"></div>
                </a>
              {% else %}
              <a href="">
                    <div class="popular__circle disabled"></div>
                </a>
              {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}

{% block js %}

    <script>
        const allVerseSearchUrl = '{% url "all_verses_search" %}';
    </script>
    <script src="{% static 'js/verse_search_input.js' %}"></script>

{% endblock %}