<!DOCTYPE html>
<html lang="en">
{% load static %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <link rel="stylesheet" href="{% static 'header_user.css' %}">#}
{#    <title>Document</title>#}
{#</head>#}
{#<body>#}
{#    <div class="header_block_user">#}
{#        <a href="#header" class="logo_black"><img src="{% static 'img/logo.svg' %}" alt="" /></a>#}
{#        <a href="#header" class="logo_white"><img src="{% static 'img/logo_white.svg' %}" alt="" /></a>#}
{#        <nav class="navbar">#}
{#            <a href="#" class="navbar_item">Главная</a>#}
{#            <a href="#" class="navbar_item">Авторы</a>#}
{#            <a href="#" class="navbar_item">Произведения</a>#}
{#            <a href="#" class="navbar_item">Новости</a>#}
{#        </nav>#}
{#        <a href="" class="name_user">Имя Фамилия<img src="{% static 'img/img_user.svg' %}" alt=""></span></a>#}
{#        <div class="burger"><img src="{% static 'img/burger.svg' %}" alt=""></div>#}
{#    </div>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{##}
{#    <div class="header_block">#}
{#        <a href="#header" class="logo_black"><img src="{% static 'img/logo.svg' %}" alt="" /></a>#}
{#        <a href="#header" class="logo_white"><img src="{% static 'img/logo_white.svg' %}" alt="" /></a>#}
{#        <nav class="navbar">#}
{#            <a href="#" class="navbar_item">Главная</a>#}
{#            <a href="#" class="navbar_item">Авторы</a>#}
{#            <a href="#" class="navbar_item">Произведения</a>#}
{#            <a href="#new_sec" class="navbar_item">Новости</a>#}
{#        </nav>#}
{#        <a href="authorization.html" class="login_btn">Вход <img src="{% static 'img/Arrow.svg' %}" alt=""></a>#}
{#        <a href="registration.html" class="registr_btn">Регистрация <img src="{% static 'img/Arrow.svg' %}" alt=""></a>#}
{#        <div class="burger"><img src="{% static 'img/burger.svg' %}" alt=""></div>#}
{#    </div>#}
{#</body>#}
{#</html>#}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block css %}{% endblock %}
    <title>Chygarma</title>
</head>

<body>
    <div class="header_block">

        <a href="{% url 'index_page' %}"><img src="{% static 'img/logo.svg' %}" alt="" /></a>

        {% if user.is_authenticated %}
                        <span>{{ user.login }}</span>
                        <a href="{% url 'logout' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Выход
                        </a>
                        <a href="{% url 'control_panel' %} "
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Личный кабинет
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Вход
                        </a>
                         <a href="{% url 'register' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Регистрация
                        </a>
                    {% endif %}
 {% block content %}

 {% endblock %}
    <footer>
        <nav class="navbar">
            <a href="#" class="navbar__item">О нас</a>
            <a href="#" class="navbar__item">Авторы</a>
            <a href="politics.html" class="navbar__item">Политика конфиденциальности</a>
            <a href="index_compositions.html" class="navbar__item">Произведения</a>
            <a href="#" class="navbar__item">Новости</a>
            <a href="#" class="navbar__item">Социальные сети</a>
        </nav>
    </footer>
</body>

</html>


<!-- <header class="header">
    <div class="header__title header__title_red"></div>
    <div class="header__about-us_red"></div>
</header> -->
<script>
        function getCookie(name) {
            let cookieValue = null;

            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                console.log(cookies);
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }

            return cookieValue;
        };
    </script>

{% block js %}
{% endblock %}