<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block css %}{% endblock %}
    <title>Chygarma</title>
</head>

<body>
    <div class="header_block">

        <a href="{% url 'index_page' %}"><img src="{% static 'img/logo.svg' %}" alt="" /></a>

        {% if user.is_authenticated %}
                        <span>{{ user.login }}</span>
                        <a href="{% url 'logout' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Выход
                        </a>
                        <a href="{% url 'control_panel' %} "
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Личный кабинет
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Вход
                        </a>
                         <a href="{% url 'register' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Регистрация
                        </a>
                    {% endif %}
 {% block content %}

 {% endblock %}
    <footer>
        <nav class="navbar">
            <a href="#" class="navbar__item">О нас</a>
            <a href="#" class="navbar__item">Авторы</a>
            <a href="politics.html" class="navbar__item">Политика конфиденциальности</a>
            <a href="index_compositions.html" class="navbar__item">Произведения</a>
            <a href="#" class="navbar__item">Новости</a>
            <a href="#" class="navbar__item">Социальные сети</a>
        </nav>
    </footer>
</body>

</html>


<!-- <header class="header">
    <div class="header__title header__title_red"></div>
    <div class="header__about-us_red"></div>
</header> -->
<script>
        function getCookie(name) {
            let cookieValue = null;

            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                console.log(cookies);
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }

            return cookieValue;
        };
    </script>

{% block js %}
{% endblock %}