{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Underdog&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/pagework.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  </head>
  <body>
    <header class="header">
        <header class="header">
            <nav class="nav">
              <div class="container">
                <div class="items">
                  <div class="logo__img">
                      <a href="{% url 'index_page' %}"><img class="logo__img-main" href="" src="{% static 'img/logo.svg' %}" alt="logo"></a>
                  </div>
                  <a href="{% url 'index_page' %}" class="link">Главная</a>
                  <a href="{% url 'author_list' %}" class="link">Авторы</a>
                  <a href="{% url 'all_verses_list' %}" class="link">Произведения</a>
                  <a href="" class="link">Новости</a>

                  {% if user.is_authenticated %}

                    <a href="{% url 'control_panel' %}" class="link">{{ user.login }}</a>
                  <a class="signup" href="{% url 'logout' %}">Выход ></a>
                  <a class="checkin" href="{% url 'control_panel' %} ">Личный кабинет> </a>
                  {% else %}
                  <a class="signup" href="{% url 'login' %}">Вход ></a>
                  <a class="checkin" href="{% url 'register' %}">Регистрация ></a>
                  {% endif %}
                  </div>
                  <!-- Burger Menu -->
                </div>
                  </div>
            </nav>
          </header>
    </header>

 {% block content %}

 {% endblock %}
   <footer class="footer">
        <div class="container">
            <div class="footer__links">
                <div class="footer__link">
                    <a href="#" class="footer__link-a">Авторы</a>
                    <a href="#" class="footer__link-a">Популярные авторы</a>
                    <a href="#" class="footer__link-a">Все авторы</a>
                    <a href="#" class="footer__link-a">Стать автором</a>
                </div>
                <div class="footer__link">
                    <a href="#" class="footer__link-a">Произведения</a>
                    <a href="#" class="footer__link-a">Популярные произведения </a>
                    <a href="#" class="footer__link-a">Все произведения </a>
                    <a href="#" class="footer__link-a">Поделиться произведением</a>
                </div>
                <div class="footer__link">
                    <a href="#" class="footer__link-a">Новости</a>
                    <a href="#" class="footer__link-a">Статистика</a>
                    <a href="#" class="footer__link-a">Выбор редакции</a>
                    <a href="#" class="footer__link-a">История кыргызкой литературы</a>
                </div>
                <div class="footer__link">
                    <a href="#" class="footer__link-a">О нас</a>
                    <a href="#" class="footer__link-a">Войти</a>
                    <a href="#" class="footer__link-a">Зарегистрироваться</a>
                </div>
            </div>
            <div class="socials">
                <a href="{% url 'politics' %}"><span class="social__link">Политика конфиденциальности</span></a>
                <div class="social__icons">
                    <a href="" class="social__link">Социальные сети</a>
                    <div class="cocial__icon">
                        <img class="social__icon-img" src="{% static 'img/instagram.png' %}" alt="Instagram">
                        <img class="social__icon-img" src="{% static 'img/twitter.png' %}" alt="Twitter">
                        <img class="social__icon-img" src="{% static 'img/youtube.png' %}" alt="YouTube">
                </div>
            </div>
        </div>
   </footer>






<!-- <header class="header">
    <div class="header__title header__title_red"></div>
    <div class="header__about-us_red"></div>
</header> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
<script>
        function getCookie(name) {
            let cookieValue = null;

            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                console.log(cookies);
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }

            return cookieValue;
        };
    </script>

{% block js %}
{% endblock %}